.profile-detail {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.profile-name {
    font-size: 28px;
    line-height: 1.25;
    stroke: transparent;
    fill: rgba(0, 0, 0, .87);
    color:#eba91d;
    font-weight: 600;
    letter-spacing: -.02em;
}

.profile-pic {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    height: 250;
    width: 250;
}

.profile-img {
    max-width: 240px;
    max-height: 100%;
}